<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <tricorebanner translate="label">
            <label>Tricore Settings</label>
            <sort_order>150</sort_order>
        </tricorebanner>
    </tabs>
    <sections>
        <smallbanner translate="label" module="smallbanner">
            <label>Home Small Banner Settings</label>
            <tab>tricorebanner</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <enablesmallbanner translate="label">
                    <label>Home Small Banner Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <smallbanner_enable translate="label">
                            <label>Enable Small Banner</label>
                            <comment>Disable it to hide Home Small Banner.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </smallbanner_enable>
                        <!--Image 1 Start-->
                        <image1text translate="label">
                            <label>Image 1 Text</label>
                            <comment>Keep it empty to hide</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image1text>
                        <image1link translate="label">
                            <label>Image 1 Link</label>
                            <comment>Put here Link for Image 1.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image1link>
                        <smallbannerimage_1>
                            <label>Select Image 1</label>
                            <frontend_type>image</frontend_type>
                            <comment>JPG,GIF,PNG</comment>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">images</upload_dir>
                            <base_url type="media" scope_info="1">images</base_url>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                        </smallbannerimage_1>
                        <!--Image 2 Start-->
                        <image2text translate="label">
                            <label>Image 2 Text</label>
                            <comment>Keep it empty to hide</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image2text>
                        <image2link translate="label">
                            <label>Image 2 Link</label>
                            <comment>Put here Link for Image 2.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image2link>
                        <smallbannerimage_2>
                            <label>Select Image 2</label>
                            <frontend_type>image</frontend_type>
                            <comment>JPG,GIF,PNG</comment>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">images</upload_dir>
                            <base_url type="media" scope_info="1">images</base_url>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                        </smallbannerimage_2>
                    </fields>
                </enablesmallbanner>
            </groups>
        </smallbanner>
    </sections>
</config>
