<?xml version="1.0"?>
<config>
    <modules>
        <Tricorebanner_CategoryBanner>
            <version>1.0</version>
        </Tricorebanner_CategoryBanner>
    </modules>
    <frontend>
        <routers>
            <categorybanner>
                <use>standard</use>
                <args>
                    <module>Tricorebanner_CategoryBanner</module>
                    <frontName>categorybanner</frontName>
                </args>
            </categorybanner>
        </routers>
        <layout>
            <updates>
                <categorybanner>
                    <file>categorybanner.xml</file>
                </categorybanner>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <categorybanner>
                <class>Tricorebanner_CategoryBanner_Helper</class>
            </categorybanner>
        </helpers>
        <blocks>
            <categorybanner>
                <class>Tricorebanner_CategoryBanner_Block</class>
            </categorybanner>
        </blocks>
    </global>
    <default>
        <categorysalesbanner>
            <enablecategorybanner>
                <categorybanner_enable>Disable</categorybanner_enable>
                <exclude_category></exclude_category>
                <categoryimagetext></categoryimagetext>
                <categoryimagelink></categoryimagelink>
                <categorybannerimage></categorybannerimage>
            </enablecategorybanner>
            <categorytimer_enable>
                <timer_enable>Disable</timer_enable>
                <timer_expire></timer_expire>
                <time></time>
                <timezone>America/Los_Angeles</timezone>
                <timer_position_style></timer_position_style>
                <timer_text_style></timer_text_style>
            </categorytimer_enable>
        </categorysalesbanner>
    </default>
</config>
