<?xml version="1.0"?>
<config>
	<modules>
		<Tricore_FlatRate>
			<version>0.1.0</version>
		</Tricore_FlatRate>
	</modules>
	<global>
		<!--models>
			<tricore_flatrate>
				<class>Tricore_FlatRate_Model</class>
			</tricore_flatrate>
		</models-->
		<models>
		   <shipping>
			 <rewrite>
				  <carrier_flatrate>Tricore_FlatRate_Model_Carrier_Flatrate</carrier_flatrate>
			 </rewrite>
		   </shipping>
		 </models>
		<helpers>
		    <tricore_flatrate>
				<class>Tricore_FlatRate_Helper</class>
			</tricore_flatrate>
	    </helpers>
	</global>
</config>
