<?xml version="1.0"?>

<config>
    <modules>
        <Tricore_PayTm>
            <version>0.1.1</version>
        </Tricore_PayTm>
    </modules>
	<global>
        <models>
            <paytm>
                <class>Tricore_PayTm_Model</class>
				<resourceModel>paytm_mysql4</resourceModel>
            </paytm>
			<paytm_mysql4>
				<class>Tricore_PayTm_Model_Mysql4</class>
					<entities>
						<paytm>
							<table>paytm</table>
						</paytm>
					</entities>
			</paytm_mysql4>
	    </models>
		<helpers>
	      <paytm>
            <class>Tricore_PayTm_Helper</class>
		  </paytm>
	    </helpers>
		<resources>
            <paytm_setup>
                <setup>
                    <module>Tricore_PayTm</module>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paytm_setup>
            <paytm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paytm_write>
            <paytm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paytm_read>
        </resources>
		<blocks>
            <paytm><class>Tricore_PayTm_Block</class></paytm>
        </blocks>
	</global>
	<frontend>
        <secure_url>
            <paytm_processing>/paytm/processing</paytm_processing>
        </secure_url>
        <routers>
            <paytm>
                <use>standard</use>
                <args>
                    <module>Tricore_PayTm</module>
                    <frontName>paytm</frontName>
                </args>
            </paytm>
        </routers>
        <layout>
            <updates>
                <paytm>
                    <file>paytm.xml</file>
                </paytm>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
        <translate>
            <modules>
                <paytm>
                    <files>
                        <default>Tricore_PayTm.csv</default>
                    </files>
                </paytm>
            </modules>
        </translate>
    </adminhtml>
	<default>
        <payment>        
            <paytm_cc>
                <active>0</active>
                <model>paytm/cc</model>
                <order_status>1</order_status>
                <title>Paytm Tricore</title>  
	        </paytm_cc>
        </payment>
    </default> 
</config>
